<%- include("template/cabecera",{tituloweb:"pagina de servicios"}) %>
    <h1>Esta es la pagina de servicios</h1>
    <!--titulo aqui es un valor que yo paso usando res.render()-->
    <h2><%= titulo %> </h2>

    <%- include("template/footer") %>
